ul.lst-kix_rs7lkl8oocgz-6 {
            list-style-type: none
        }

        .lst-kix_rs7lkl8oocgz-2>li:before {
            content: "-  "
        }

        .lst-kix_rs7lkl8oocgz-3>li:before {
            content: "-  "
        }

        ul.lst-kix_rs7lkl8oocgz-7 {
            list-style-type: none
        }

        ul.lst-kix_rs7lkl8oocgz-4 {
            list-style-type: none
        }

        ul.lst-kix_rs7lkl8oocgz-5 {
            list-style-type: none
        }

        .lst-kix_rs7lkl8oocgz-0>li:before {
            content: "-  "
        }

        .lst-kix_rs7lkl8oocgz-1>li:before {
            content: "-  "
        }

        .lst-kix_rs7lkl8oocgz-4>li:before {
            content: "-  "
        }

        .lst-kix_rs7lkl8oocgz-5>li:before {
            content: "-  "
        }

        ul.lst-kix_rs7lkl8oocgz-8 {
            list-style-type: none
        }

        ul.lst-kix_rs7lkl8oocgz-2 {
            list-style-type: none
        }

        ul.lst-kix_rs7lkl8oocgz-3 {
            list-style-type: none
        }

        li.li-bullet-0:before {
            margin-left: -18pt;
            white-space: nowrap;
            display: inline-block;
            min-width: 18pt
        }

        ul.lst-kix_rs7lkl8oocgz-0 {
            list-style-type: none
        }

        ul.lst-kix_rs7lkl8oocgz-1 {
            list-style-type: none
        }

        .lst-kix_rs7lkl8oocgz-8>li:before {
            content: "-  "
        }

        .lst-kix_rs7lkl8oocgz-6>li:before {
            content: "-  "
        }

        .lst-kix_rs7lkl8oocgz-7>li:before {
            content: "-  "
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c5 {
            background-color: #ffffff;
            -webkit-text-decoration-skip: none;
            color: #595959;
            font-weight: 700;
            text-decoration: underline;
            vertical-align: baseline;
            text-decoration-skip-ink: none;
            font-size: 11pt;
            font-family: "Verdana";
            font-style: normal
        }

        .c6 {
            margin-left: 180pt;
            padding-top: 0pt;
            text-indent: 36pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c3 {
            background-color: #ffffff;
            color: #595959;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Verdana";
            font-style: normal
        }

        .c7 {
            margin-left: 36pt;
            padding-top: 0pt;
            text-indent: -18pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c1 {
            background-color: #ffffff;
            color: #595959;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Verdana";
            font-style: normal
        }

        .c8 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify;
            height: 12pt
        }

        .c0 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 12pt
        }

        .c9 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center;
            height: 12pt
        }

        .c14 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c10 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c15 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c4 {
            font-size: 11pt;
            font-family: "Verdana";
            font-weight: 400
        }

        .c13 {
            margin-left: 36pt;
            text-indent: -18pt
        }

        .c11 {
            margin-left: 36pt;
            padding-left: 0pt
        }

        .c16 {
            padding: 0;
            margin: 0
        }

        .c12 {
            height: 12pt
        }

        .title {
            background-color: #ffffff;
            padding-top: 24pt;
            color: #595959;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Times New Roman";
            line-height: 2.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .subtitle {
            border-right-style: solid;
            color: #666666;
            border-top-width: 0pt;
            border-bottom-color: #000000;
            font-weight: 700;
            padding-left: 0pt;
            border-left-color: #000000;
            font-size: 24pt;
            background-color: #ffffff;
            border-left-style: solid;
            border-top-color: #000000;
            font-family: "Georgia";
            orphans: 2;
            text-align: left;
            padding-top: 0pt;
            border-right-width: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            border-right-color: #000000;
            page-break-after: avoid;
            font-style: italic;
            border-left-width: 0pt;
            border-top-style: solid;
            border-bottom-width: 0pt;
            border-bottom-style: solid;
            widows: 2;
            padding-right: 0pt
        }

        li {
            background-color: #ffffff;
            color: #595959;
            font-weight: 700;
            font-size: 12pt;
            font-family: "Times New Roman"
        }

        p {
            background-color: #ffffff;
            margin: 0;
            color: #595959;
            font-weight: 700;
            font-size: 12pt;
            font-family: "Times New Roman"
        }

        h1 {
            background-color: #ffffff;
            padding-top: 24pt;
            color: #595959;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Times New Roman";
            line-height: 2.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        h2 {
            background-color: #ffffff;
            padding-top: 18pt;
            color: #595959;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Times New Roman";
            line-height: 2.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        h3 {
            background-color: #ffffff;
            padding-top: 14pt;
            color: #595959;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Times New Roman";
            line-height: 2.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        h4 {
            background-color: #ffffff;
            padding-top: 12pt;
            color: #595959;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 2.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        h5 {
            background-color: #ffffff;
            padding-top: 11pt;
            color: #595959;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 2.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        h6 {
            background-color: #ffffff;
            padding-top: 10pt;
            color: #595959;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Times New Roman";
            line-height: 2.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: center
        }